# Output files
*.com
*.class
*.dll
*.exe
*.o
*.so

# Compiled Python files
*.pyc

# packages
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# Backup files
*.bak
*.swp

# Temp files
*.temp
*.tmp
*.backup
*.bak

# Vim files
*.vimrc

# Secret files
*secrets.sh
*certs/*
